html{
    font-family:'Open Sans';
    height: 100%;
    background: #ffffff;
}

h1{text-align:center;font-family:'Open Sans';}
h2{text-align:center;font-family:'Open Sans';}
b{text-align:center;font-family:'Open Sans';}
p {text-align:center;font-family:'Open Sans';font-size:18px;}

#otherprograms {
    color: blue;
}

#otherprograms:hover {
    color: #0d00a3;
}

.input-group {
  width: 280px;
}

#copyRight {
    text-align: center;
    font-size: 15px;
}
