html{
    font-family:'Open Sans';
    height: 100%;
    background: #71afff;
    background-size: cover;
}

h1{text-align:center;font-family:'Open Sans';}
h2{text-align:center;font-family:'Open Sans';}
b{text-align:center;font-family:'Open Sans';}
p {text-align:center;font-family:'Open Sans';font-size:18px;}

#send{
    font-family: 'DINPro';
    font-size: 16px;
    margin-left: 3px;
    border-color: black;
    border-radius: 3px;
    background-color: #84ffb7;
}

#send:hover {
    background-color: #2cf982;
}

#userinput{
    font-family: 'DINPro';
    font-size: 16px;
    border-color: black;
    border-radius: 3px;
}

#copyRight {
    text-align: center;
    font-size: 15px;
}
