html{
    font-family:'Open Sans';
    height: 100%;
    background: b5d2d6;
    background: #bc6dff;
    background-size: cover;
}

ul{
    list-style-position: inside;
}

h1, h2{
   text-align:center;
}

p {
    text-align: center;
    font-size:18px;
    font-weight: 300;
}

button:hover {
    background: #f76666;
}

button {
    border: 1px solid;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

input {
    border: 1px solid #000000;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    height: 22px;
}

input:focus {
    box-shadow: 0px 0px 3px 1px #f76666;
}

#copyRight {
    text-align: center;
    font-size: 15px;
}

#otherprograms {
    color: blue;
}

#otherprograms:hover {
    color: #0d00a3;
}