html{
    font-family:'Open Sans';
    height: 100%;
    background: #f2f2ff;
    background-size: cover;
}

h1{text-align:center;font-family:'Open Sans';}
h2{text-align:center;font-family:'Open Sans';}
b{text-align:center;font-family:'Open Sans';}
p {text-align:center;font-family:'Open Sans';font-size:18px;}

.input{
    font-family: 'DINPro';
    font-size: 16px;
    border-color: black;
    border-radius: 3px;
}

.input:focus {
    box-shadow: 0 0 10px #bc6dff;
}

#ok{
    font-family: 'DINPro';
    font-size: 16px;
    margin-left: 3px;
    border-color: black;
    border-radius: 3px;
    background-color: #bc6dff;
}

#ok:hover {
    background-color: #b156ff;
}

#copyRight {
    text-align: center;
    font-size: 15px;
}

#otherprograms {
    color: blue;
}

#otherprograms:hover {
    color: #0d00a3;
}

#image {
    width: 150px;
    height: 100px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.hidden {
    display: none;
}

.unhidden {
    display: block;
}
